@font-face {
    font-family: 'IcoMoon-Free';
    src: 
        local('IcoMoon-Free'),
        local('IcoMoon-Free Regular'),
        url('IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
