// @import '../../IcoMoon/IcoMoon.css';
$asset-base-path: '/biskin-kit/assets';
@import '~@bison/biskin-kit/lib/biskin/assets/scss/biskin-kit-webcomponents';

.prod, :host-context(.prod) {
    background-color: red;
}
