
<div class="card">
  <div class="header">
    <h1 class="title">External <span class="icon icon-rocket"></span> </h1>
  </div>
  <div class="content">
    <div>Icon from LC <i class="icon--navigation"></i></div>
    <div style="height:200px;">
      <br>
      <table class="table table-contensed">
        <tr>
          <td>A</td>
          <td>{{a}}</td>
        </tr>
        <tr>
          <td>B</td>
          <td>{{b}}</td>
        </tr>
        <tr>
          <td>C</td>
          <td>{{c}}</td>
        </tr>
      </table>
    </div>
  <div>
    Encapsulated AG-Grid (test with enterprise)
  </div>
  <app-b9e-ag-grid-encapsulated></app-b9e-ag-grid-encapsulated>
</div>
