<div class="card">
  <div class="header">
    <h1 class="title">External <span class="icon icon-rocket"></span></h1>
  </div>
  <div class="content">
    <a [routerLink]="'about'">About</a>
    <!-- <a [routerLink]="'test'">Test</a> -->
    <router-outlet></router-outlet>
    <app-font-face-not-working></app-font-face-not-working>
    <hr>
    <div>Icon from LC <i class="icon--navigation"></i> works in custom element</div>
    <hr>
    <div class="clearfix bshadow0 pbs">
      Icon from Biskin-Kit
      <span class="ico-pricetag_outline">
      </span>
      <span class="mls"> ico-pricetag_outline</span>
    </div>
    <hr>
    <div class="clearfix bshadow0 pbs">
      User
      <pre id="userSettings">{{b9eApi?.user | json}}</pre>
    </div>
    <hr>
    <div class="clearfix bshadow0 pbs">
      SystemEnvironment
      <pre id="systemEnvironment">{{b9eApi?.deploymentEnvironment}}</pre>
    </div>
    <hr>
    <div style="height:200px;">
      <br>
      <table class="table table-contensed">
        <tr>
          <td>A</td>
          <td>{{a}}</td>
        </tr>
        <tr>
          <td>B</td>
          <td>{{b}}</td>
        </tr>
        <tr>
          <td>C</td>
          <td>{{c}}</td>
        </tr>
      </table>
    </div>
    <hr>
    <div>
      <button (click)="cancelWorkflowNG()" class="btn btn-primary">Cancel Workflow</button>
      <button (click)="cancelWorkflow()" class="btn btn-secondary">Cancel Workflow (Eventbased)</button>
      <button id="cancelWorkflowAPI" (click)="cancelWorkflowAPI()" class="btn btn-secondary">Cancel Workflow (API Callback)</button>
    </div>
        <div>
      <button id="startDefaultSubWfl" (click)="startDefaultSubWfl()" class="btn btn-primary">Start default Sub-Worklflow on bet</button>
      <button id="startSubWfl" (click)="startSubWfl()" class="btn btn-secondary">Start Sub-Worklflow with wflId and objId as input</button>
    </div>
    <hr>
    <div>
      <button id="showMessage" (click)="showMessage()" class="btn btn-primary">Send a Message to LC</button>
    </div>
    <hr>
    <div>
      Activity Configuration:
      <pre>
        {{b9eApi?.activity | json}}
    </pre>
    </div>
    <div>
      Activity ConfigurationId:
      <pre>
      {{activityConfId}}
    </pre>
    </div>
    <div>
      Vehicle Information:
      <pre>
          {{vehicle | json}}
        </pre>
    </div>
    <hr>
    <div>
      Encapsulated AG-Grid (test with enterprise)
    </div>
    <app-b9e-ag-grid-encapsulated></app-b9e-ag-grid-encapsulated>
  </div>
