<ag-grid-angular
      #agGrid
      class="ag-theme-balham"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      rowSelection="multiple"
      [gridOptions]="gridOptions" 
      [getContextMenuItems]="getContextMenuItems"
      (gridReady)="onGridReady($event)">
</ag-grid-angular>
<ag-grid-angular
      class="ag-theme-balham"
      [autoGroupColumnDef]="autoGroupColumnDef"
      [rowData]="rowData | async"
      [columnDefs]="columnDefsGrouped"
      rowSelection="multiple"
      [getContextMenuItems]="getContextMenuItems"
      (gridReady)="onGridReady($event)">
</ag-grid-angular>

